@model IEnumerable<Project_Backend.Models.Models.Comment>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Comments)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AppUserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quiz)
    </td>
</tr>            }
    </tbody>
</table>
